################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aot
/node_modules
/typings
/obj
*.js
*.map
